<div class="blog-slide">
	<div class="blog-slide__body">
		<div class='blog-slide__image'>
			<picture>
				<source type='image/webp' data-src-webp="img/gallery/@@img.webp" srcset='@'>
				<img data-src-img="img/gallery/@@img.jpg" src='@' alt='Article preview'>
			</picture>
		</div>
		<div class="blog-slide__absolute">
			<p class="blog-slide__title">Цікава стаття</p>
			<a href="article.html" class="blog-slide__button">Детальніше</a>
		</div>
	</div>
	<div class="blog-slide__bottom">
		<div class="blog-slide__date">
			<i class="calendar"></i>
			<time>@@date</time>
		</div>
		<div class="blog-slide__views">
			<i class="eye"></i>
			<p>@@views</p>
		</div>
	</div>
</div>