<div class="cards__wrapper swiper-wrapper">
	<div class="swiper-slide cards__slide">
		<div class="cards__slide-wrapper">
			@@include('./_card.html', {
			'img': '1',
			'title': 'Майнкрафт',
			'age': '16+',
			})
			@@include('./_card.html', {
			'img': '2',
			'title': 'День народження в стилі',
			'age': '6+'
			})
			@@include('./_card.html', {
			'img': '3',
			'title': 'Врятувати професора Харіса',
			'age': '6+'
			})
			@@include('./_card.html', {
			'img': '4',
			'title': 'Write correct title',
			'color': 'red',
			'svg': 'discount',
			'text': 'Акція',
			'age': '6+',
			})
			@@include('./_card.html', {
			'img': '5',
			'title': 'Silent Hill',
			'color': 'yellow',
			'svg': 'preorder',
			'text': 'Предзамовлення',
			'age': '16+',
			})
			@@include('./_card.html', {
			'img': '6',
			'title': 'Гаррі Поттер',
			'color': 'green',
			'svg': 'lightning',
			'text': 'Новинка',
			'age': '12+',
			})
		</div>
		<a href="category1.html" class="cards__link-block">
			<p>Дивитись всі</p>
			<svg width="22" height="16" viewBox="0 0 22 16" fill="none" xmlns="http://www.w3.org/2000/svg">
				<path d="M14.1667 14.3335L20.5 8.00016M20.5 8.00016L14.1667 1.66683M20.5 8.00016L1.5 8.00016" stroke="#9ACF16" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
			</svg>
		</a>
	</div>
	<div class="swiper-slide cards__slide">
		<div class="cards__slide-wrapper">
			@@include('./_card.html', {
			'img': '1',
			'title': 'Майнкрафт',
			'age': '16+',
			})
			@@include('./_card.html', {
			'img': '2',
			'title': 'День народження в стилі',
			'age': '6+'
			})
			@@include('./_card.html', {
			'img': '3',
			'title': 'Врятувати професора Харіса',
			'age': '6+'
			})
			@@include('./_card.html', {
			'img': '4',
			'title': 'Write correct title',
			'color': 'red',
			'svg': 'discount',
			'text': 'Акція',
			'age': '6+',
			})
			@@include('./_card.html', {
			'img': '5',
			'title': 'Silent Hill',
			'color': 'yellow',
			'svg': 'preorder',
			'text': 'Предзамовлення',
			'age': '16+',
			})
			@@include('./_card.html', {
			'img': '6',
			'title': 'Гаррі Поттер',
			'color': 'green',
			'svg': 'lightning',
			'text': 'Новинка',
			'age': '12+',
			})
		</div>
		<a href="category2.html" class="cards__link-block">
			<p>Дивитись всі</p>
			<svg width="22" height="16" viewBox="0 0 22 16" fill="none" xmlns="http://www.w3.org/2000/svg">
				<path d="M14.1667 14.3335L20.5 8.00016M20.5 8.00016L14.1667 1.66683M20.5 8.00016L1.5 8.00016" stroke="#9ACF16" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
			</svg>
		</a>
	</div>
	<div class="swiper-slide cards__slide">
		<div class="cards__slide-wrapper">
			@@include('./_card.html', {
			'img': '1',
			'title': 'Майнкрафт',
			'age': '16+',
			})
			@@include('./_card.html', {
			'img': '2',
			'title': 'День народження в стилі',
			'age': '6+'
			})
			@@include('./_card.html', {
			'img': '3',
			'title': 'Врятувати професора Харіса',
			'age': '6+'
			})
			@@include('./_card.html', {
			'img': '4',
			'title': 'Write correct title',
			'color': 'red',
			'svg': 'discount',
			'text': 'Акція',
			'age': '6+',
			})
			@@include('./_card.html', {
			'img': '5',
			'title': 'Silent Hill',
			'color': 'yellow',
			'svg': 'preorder',
			'text': 'Предзамовлення',
			'age': '16+',
			})
			@@include('./_card.html', {
			'img': '6',
			'title': 'Гаррі Поттер',
			'color': 'green',
			'svg': 'lightning',
			'text': 'Новинка',
			'age': '12+',
			})
		</div>
		<a href="category3.html" class="cards__link-block">
			<p>Дивитись всі</p>
			<svg width="22" height="16" viewBox="0 0 22 16" fill="none" xmlns="http://www.w3.org/2000/svg">
				<path d="M14.1667 14.3335L20.5 8.00016M20.5 8.00016L14.1667 1.66683M20.5 8.00016L1.5 8.00016" stroke="#9ACF16" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
			</svg>
		</a>
	</div>
</div>