<div class="certificate-popup">
	<div class="certificate-popup__wrapper">
		<div class="certificate-popup__container">
			<div class="certificate-popup__body">
				<div class="certificate-popup__btn-close-wrap">
					<button class="certificate-popup__btn-close"></button>
				</div>
				<h2 class="certificate-popup__title">Замовити сертифікат</h2>
				<div class="certificate-popup__field-wrap">
					<div class="certificate-popup__field-wrap-inner">
						<input class="certificate-popup__field" type="text" name="text" value="" placeholder="Ім’я та призвище">
					</div>
				</div>
				<div class="certificate-popup__field-wrap">
					<div class="certificate-popup__field-wrap-inner">
						<input class="certificate-popup__field" type="text" name="text" value="" placeholder="E-mail *">
					</div>
				</div>
				<div class="certificate-popup__field-wrap certificate-popup__field-wrap-pos">
					<div class="certificate-popup__field-wrap-inner">
						<input class="certificate-popup__field" type="text" name="text" value="" placeholder="Ваш номер телефону *">
					</div>
				</div>
				<div class="certificate-popup__field-wrap certificate-popup__field-wrap-check">
					<input class="certificate-popup__check" type="checkbox" name="check" value="" id="checks">
					<label class="certificate-popup__sign" for="checks">Згода на обробку персональних данних
						<a class="certificate-popup__link">Політика конфіденційності</a></label>
				</div>
				<div class="certificate-popup__btn-wrap">
					<button class="certificate-popup__btn certificate-popup__close-button">Замовити</button>
				</div>
			</div>
		</div>
	</div>
</div>