<div class="difficulty">
	<p class="difficulty__text description-title">Складність</p>
	<div class="difficulty__icons">
		<img data-src-img="img/icons/puzzle-fill.svg" src="@img/load.png" alt="difficulty icon" />
		<img data-src-img="img/icons/puzzle-fill.svg" src="@img/load.png" alt="difficulty icon" />
		<img data-src-img="img/icons/puzzle-fill.svg" src="@img/load.png" alt="difficulty icon" />
		<img data-src-img="img/icons/puzzle-stroke.svg" src="@img/load.png" alt="difficulty icon" />
		<img data-src-img="img/icons/puzzle-stroke.svg" src="@img/load.png" alt="difficulty icon" />
	</div>
</div>