<div class="horizontal-gallery">
	<div class="horizontal-gallery__big-wrap">
		@@include('./_second-nav.html', {
		'class': 'horizontal-gallery__nav',
		'prev': 'horizontal-gallery__prev',
		'next': 'horizontal-gallery__next',
		'pagination': 'horizontal-gallery__pagination',
		})
		<div class="horizontal-gallery__swiper-big swiper slider">
			<div class="swiper-wrapper">
				<div class="swiper-slide horizontal-gallery__slide-big">
					<div class='horizontal-gallery__image-big'>
						<picture>
							<source type='image/webp' data-src-webp="img/gallery/gallery_01.webp" srcset='@'>
							<img data-src-img="img/gallery/gallery_01.jpg" src='@' alt='Gallery photo'>
						</picture>
					</div>
				</div>
				<div class="swiper-slide horizontal-gallery__slide-big">
					<div class='horizontal-gallery__image-big'>
						<picture>
							<source type='image/webp' data-src-webp="img/gallery/gallery_02.webp" srcset='@'>
							<img data-src-img="img/gallery/gallery_02.jpg" src='@' alt='Gallery photo'>
						</picture>
					</div>
				</div>
				<div class="swiper-slide horizontal-gallery__slide-big">
					<div class='horizontal-gallery__image-big'>
						<picture>
							<source type='image/webp' data-src-webp="img/gallery/gallery_03.webp" srcset='@'>
							<img data-src-img="img/gallery/gallery_03.jpg" src='@' alt='Gallery photo'>
						</picture>
					</div>
				</div>
				<div class="swiper-slide horizontal-gallery__slide-big">
					<div class='horizontal-gallery__image-big'>
						<picture>
							<source type='image/webp' data-src-webp="img/gallery/gallery_04.webp" srcset='@'>
							<img data-src-img="img/gallery/gallery_04.jpg" src='@' alt='Gallery photo'>
						</picture>
					</div>
				</div>
				<div class="swiper-slide horizontal-gallery__slide-big">
					<div class='horizontal-gallery__image-big'>
						<picture>
							<source type='image/webp' data-src-webp="img/gallery/gallery_05.webp" srcset='@'>
							<img data-src-img="img/gallery/gallery_05.jpg" src='@' alt='Gallery photo'>
						</picture>
					</div>
				</div>
				<div class="swiper-slide horizontal-gallery__slide-big">
					<div class='horizontal-gallery__image-big'>
						<picture>
							<source type='image/webp' data-src-webp="img/gallery/gallery_06.webp" srcset='@'>
							<img data-src-img="img/gallery/gallery_06.jpg" src='@' alt='Gallery photo'>
						</picture>
					</div>
				</div>
			</div>
			<!-- @@include('./_slider-nav.html', {
				'class': 'horizontal-gallery__nav',
				'prev': 'horizontal-gallery__prev',
				'next': 'horizontal-gallery__next',
				'pagination': 'horizontal-gallery__pagination',
			}) -->
		</div>
	</div>
	<div class="horizontal-gallery__small-wrap">
		<div class="horizontal-gallery__swiper-small swiper">
			<div class="swiper-wrapper">
				<div class="swiper-slide horizontal-gallery__slide-small">
					<div class='horizontal-gallery__image-small'>
						<picture>
							<source type='image/webp' data-src-webp="img/gallery/gallery_01.webp" srcset='@'>
							<img data-src-img="img/gallery/gallery_01.jpg" src='@' alt='Gallery preview photo'>
						</picture>
					</div>
				</div>
				<div class="swiper-slide horizontal-gallery__slide-small">
					<div class='horizontal-gallery__image-small'>
						<picture>
							<source type='image/webp' data-src-webp="img/gallery/gallery_02.webp" srcset='@'>
							<img data-src-img="img/gallery/gallery_02.jpg" src='@' alt='Gallery preview photo'>
						</picture>
					</div>
				</div>
				<div class="swiper-slide horizontal-gallery__slide-small">
					<div class='horizontal-gallery__image-small'>
						<picture>
							<source type='image/webp' data-src-webp="img/gallery/gallery_03.webp" srcset='@'>
							<img data-src-img="img/gallery/gallery_03.jpg" src='@' alt='Gallery preview photo'>
						</picture>
					</div>
				</div>
				<div class="swiper-slide horizontal-gallery__slide-small">
					<div class='horizontal-gallery__image-small'>
						<picture>
							<source type='image/webp' data-src-webp="img/gallery/gallery_04.webp" srcset='@'>
							<img data-src-img="img/gallery/gallery_04.jpg" src='@' alt='Gallery preview photo'>
						</picture>
					</div>
				</div>
				<div class="swiper-slide horizontal-gallery__slide-small">
					<div class='horizontal-gallery__image-small'>
						<picture>
							<source type='image/webp' data-src-webp="img/gallery/gallery_05.webp" srcset='@'>
							<img data-src-img="img/gallery/gallery_05.jpg" src='@' alt='Gallery preview photo'>
						</picture>
					</div>
				</div>
				<div class="swiper-slide horizontal-gallery__slide-small">
					<div class='horizontal-gallery__image-small'>
						<picture>
							<source type='image/webp' data-src-webp="img/gallery/gallery_06.webp" srcset='@'>
							<img data-src-img="img/gallery/gallery_06.jpg" src='@' alt='Gallery preview photo'>
						</picture>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>