<div class="person-pop-up">
	<div class="person-pop-up__wrapper">
		<div class="person-pop-up__container">
			<div class="person-pop-up__body">
				<div class="person-pop-up__close-icon">
					<div class="person-pop-up__close-icon-wrapper">
						<span></span><span></span>
					</div>
				</div>
				<div class="person-pop-up__content">
					<p class="person-pop-up__name">Прізвище та Ім’я</p>
					<div class='person-pop-up__image'>
						<picture>
							<source type='image/webp' data-src-webp="img/gallery/person_01.webp" srcset='@'>
							<img data-src-img="img/gallery/person_01.jpg" src='@' alt='Personal photo'>
						</picture>
					</div>
					<div class="person-pop-up__about-block">
						<p class="person-pop-up__about person-pop-up__about_education"><span>Освіта:</span> якийсь університет без скорочення</p>
						<p class="person-pop-up__about person-pop-up__about_expirience"><span>Досвід роботи:</span> понад 10 років</p>
						<p class="person-pop-up__about person-pop-up__about_speciality"><span>Спеціалізація:</span> якась спеціалізація на 2-3 строки.</p>
					</div>
					<p class="person-pop-up__text">Ще текст про діяльність співробітника символів до 400Ще текст про діяльність співробітника символів до 400Ще текст про діяльність співробітника символів до 400Ще текст про діяльність співробітника символів до 400Ще текст про діяльність співробітника символів до 400Ще текст про діяльність співробітника символів до 400</p>
				</div>
				@@include('./_video.html')
			</div>
		</div>
	</div>
</div>