<div class="vertical-gallery-pop-up">
	<div class="vertical-gallery-pop-up__wrapper">
		<div class="vertical-gallery-pop-up__icon-wrapper">
			<div class="vertical-gallery-pop-up__icon">
				<span></span><span></span>
			</div>
		</div>
		<div class="vertical-gallery-pop-up__body">
			<div class="vertical-gallery">
				<div class="vertical-gallery__big-wrap">
					@@include('./_second-nav.html', {
					'class': 'vertical-gallery__nav-pop-up',
					'prev': 'vertical-gallery__prev-pop-up',
					'next': 'vertical-gallery__next-pop-up',
					'pagination': 'vertical-gallery__pagination-pop-up',
					})
					<div class="vertical-gallery__swiper-big-pop-up swiper">
						<div class="swiper-wrapper">
							<div class="swiper-slide vertical-gallery__slide-big">
								<div class='vertical-gallery__image-big'>
									<picture>
										<source type='image/webp' data-src-webp="img/gallery/gallery_01.webp" srcset='@'>
										<img data-src-img="img/gallery/gallery_01.jpg" src='@' alt='Gallery photo'>
									</picture>
								</div>
							</div>
							<div class="swiper-slide vertical-gallery__slide-big">
								<div class='vertical-gallery__image-big'>
									<picture>
										<source type='image/webp' data-src-webp="img/gallery/gallery_02.webp" srcset='@'>
										<img data-src-img="img/gallery/gallery_02.jpg" src='@' alt='Gallery photo'>
									</picture>
								</div>
							</div>
							<div class="swiper-slide vertical-gallery__slide-big">
								<div class='vertical-gallery__image-big'>
									<picture>
										<source type='image/webp' data-src-webp="img/gallery/gallery_03.webp" srcset='@'>
										<img data-src-img="img/gallery/gallery_03.jpg" src='@' alt='Gallery photo'>
									</picture>
								</div>
							</div>
							<div class="swiper-slide vertical-gallery__slide-big">
								<div class='vertical-gallery__image-big'>
									<picture>
										<source type='image/webp' data-src-webp="img/gallery/gallery_04.webp" srcset='@'>
										<img data-src-img="img/gallery/gallery_04.jpg" src='@' alt='Gallery photo'>
									</picture>
								</div>
							</div>
							<div class="swiper-slide vertical-gallery__slide-big">
								<div class='vertical-gallery__image-big'>
									<picture>
										<source type='image/webp' data-src-webp="img/gallery/gallery_05.webp" srcset='@'>
										<img data-src-img="img/gallery/gallery_05.jpg" src='@' alt='Gallery photo'>
									</picture>
								</div>
							</div>
							<div class="swiper-slide vertical-gallery__slide-big">
								<div class='vertical-gallery__image-big'>
									<picture>
										<source type='image/webp' data-src-webp="img/gallery/gallery_06.webp" srcset='@'>
										<img data-src-img="img/gallery/gallery_06.jpg" src='@' alt='Gallery photo'>
									</picture>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="vertical-gallery__swiper-small-pop-up swiper">
					<div class="swiper-wrapper">
						<div class="swiper-slide vertical-gallery__slide-small">
							<div class='vertical-gallery__image-small'>
								<picture>
									<source type='image/webp' data-src-webp="img/gallery/gallery_01.webp" srcset='@'>
									<img data-src-img="img/gallery/gallery_01.jpg" src='@' alt='Gallery preview photo'>
								</picture>
							</div>
						</div>
						<div class="swiper-slide vertical-gallery__slide-small">
							<div class='vertical-gallery__image-small'>
								<picture>
									<source type='image/webp' data-src-webp="img/gallery/gallery_02.webp" srcset='@'>
									<img data-src-img="img/gallery/gallery_02.jpg" src='@' alt='Gallery preview photo'>
								</picture>
							</div>
						</div>
						<div class="swiper-slide vertical-gallery__slide-small">
							<div class='vertical-gallery__image-small'>
								<picture>
									<source type='image/webp' data-src-webp="img/gallery/gallery_03.webp" srcset='@'>
									<img data-src-img="img/gallery/gallery_03.jpg" src='@' alt='Gallery preview photo'>
								</picture>
							</div>
						</div>
						<div class="swiper-slide vertical-gallery__slide-small">
							<div class='vertical-gallery__image-small'>
								<picture>
									<source type='image/webp' data-src-webp="img/gallery/gallery_04.webp" srcset='@'>
									<img data-src-img="img/gallery/gallery_04.jpg" src='@' alt='Gallery preview photo'>
								</picture>
							</div>
						</div>
						<div class="swiper-slide vertical-gallery__slide-small">
							<div class='vertical-gallery__image-small'>
								<picture>
									<source type='image/webp' data-src-webp="img/gallery/gallery_05.webp" srcset='@'>
									<img data-src-img="img/gallery/gallery_05.jpg" src='@' alt='Gallery preview photo'>
								</picture>
							</div>
						</div>
						<div class="swiper-slide vertical-gallery__slide-small">
							<div class='vertical-gallery__image-small'>
								<picture>
									<source type='image/webp' data-src-webp="img/gallery/gallery_06.webp" srcset='@'>
									<img data-src-img="img/gallery/gallery_06.jpg" src='@' alt='Gallery preview photo'>
								</picture>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>